<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ 'styles/base.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'styles/light.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'styles/dark.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'styles/twitter.css' | relative_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<meta property="og:title" content="{{ page.title | escape }}">
		<meta property="og:description" content="{{ page.description | escape }}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:image" content="{{ 'images/arachnixe-icon.jpg' | absolute_url }}">
		<meta property="article:published_time" content="{{ page.date }}">
	</head>
	<body>
		<h1 id="{{ page.title | slugify }}">{{ page.title | escape }}</h1>
		<a class="thread_src" href="https://twitter.com/arachnixe/status/{{ page.twid }}">Original Thread</a>
		{% if page.tags.size > 0 %}
		<ul class="tags">Tags:
		{% for tag in page.tags %}
		<li class="tag">{{ tag }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{{ content }}
		{% if page.links.size > 0 %}
		<nav class="related">Related:
		{% for link in page.links %}
		<a href="{{ page.dir | append: link.id | relative_url }}">{{ link.name }}</a>
		{% endfor %}
		</nav>
		{% endif %}
	</body>
</html>
