:root {
	color-scheme: light dark;
}

body {
	color: var(--color);
	background-color: var(--background-color);
	font-family: Georgia,Palatino,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 650px;
	padding: 0 10px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

ul.tags {
	list-style: none;
	padding: 0px;
}

ul.tags li.tag {
	display: inline;
}

ul.tags li.tag:not(:last-child)::after {
	content: ", "
}
